@import "normalize";
@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

/* Other imports go here */

/**************************/
/* Coding may happen here */
/**************************/

#home {
    @include outer-container;
    margin-top: 2em;

    .feature-item {
        @include media($medium-screen) {
            @include span-columns(2);
        }
        @include media($large-screen) {
            @include span-columns(4);
        }
    }
}

.header {
    height: 0;
    padding-bottom: 56.73611111%;
    background: $light-gray url(../images/banner.jpg) no-repeat;
    background-size: cover;

    @include hidpi(1.5) {
        background-image: url(../images/banner@2x.jpg);
    }
    @include media($huge-screen) {
        background-image: url(../images/banner@2x.jpg);
    }

    .inner-header {
        @include outer-container;
    }
}

.footer {
    @include outer-container;

    color: $medium-gray;
}
