@import "normalize";
@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

/* Other imports go here */

/**************************/
/* Coding may happen here */
/**************************/

#home {
    @include outer-container;
    margin-top: 2em;

    .feature-item {
        @include media($medium-screen) {
            @include span-columns(2);
        }
        @include media($large-screen) {
            @include span-columns(4);
        }
    }
}

.header {
    height: 200px;
    background: $light-gray url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_528c8f581f45e_1.JPG) no-repeat;
    background-size: cover;
    
    .inner-header {
        @include outer-container;
    }

    .title {
        text-align: center;
        line-height: 200px;

        a {
            color: white;
        }
    }
}

.footer {
    @include outer-container;

    color: $medium-gray;
}
