<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <bare href="{{ site.baseurl }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <div class="inner-header"></div>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Aleksander Vognild Burkow<br />
                aleksander@burkow.no
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/aleksanb">github.com/aleksanb</a><br />
                <a href="https://twitter.com/jharkendar">twitter.com/jharkendar</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
